[submodule "classes"]
	path = UTK-Classes
	url = https://github.com/jacobleonard545/classes
[submodule "smart-ledger"]
	path = smart-ledger
	url = https://github.com/CS401-Team-Project/Front-End
[submodule "vulnerable-login-page"]
	path = vulnerable-login-page
	url = https://github.com/CS340-21/WebSecurity
[submodule "digital-portfolio"]
	path = digital-portfolio
	url = https://github.com/jacobleonard545/Digital-Portfolio
[submodule "VU-classes"]
	path = VU-classes
	url = https://github.com/jacobleonard545/VU-classes
